#add_button {
    margin: 10px;
    vertical-align:middle;
    padding-top: 6px;
}

.center {
    text-align: center;
}

#checkmark_cell {
    padding-right: 10px;
}

#task_table {
    width: 95%;
    margin: 0 auto;
}

.col-md-8 {
    margin: auto;
}

#task_div {
}