#add_button {
    margin: 5px;
    vertical-align:middle;
    padding-top: 6px;
}

.center {
    text-align: center;
}

#checkmark_cell {
    padding-right: 10px;
    padding-left: 5px;
}

.col-md-8 {
    margin: auto;
}

#completed_tasks {
    margin: 5px 10px;
    text-align: justify;
}

#task_table {
    width: 90%;
    margin: 0 auto;
}

#header {
    margin-top: 0px;
    padding-bottom: 5px;
}

.heading {
    padding-top: 5px;
    padding-bottom: 0px;
}

.hovered {
    background: #d8cb8f;
}

#task_div {
    padding: 5px 5px;
}

@media(min-width:351px){
 
    #header {
        padding-top: 5px;
    }
    
}    

@media(min-width:992px){
 
    #task {
        padding-top: 5px;
    }
    
}    